/* Head */

body {
  color: black;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  margin: 0;
}

h1{
  text-align: center;
}
h2{
  margin-left: 4em;
}


p {
  font-family: 'EB Garamond', serif;
  margin: 2em;

}
#masthead {
  background-color: #242424;
}

.main-nav {
  border: 1px solid black;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

nav li {
  padding-right: 2em;
    list-style: none;
    text-align: right;
}

/* SPANS RIGHT HERE */

.firstletter {
  color: #50da45;
  margin: 0;
  padding: 0;
}

#SOLAR {
  background-color: #ff7373
}
#WATER {
  background-color: #0099cc
}
#GREEN {

}

/* Body */





/* About */

.AboutHeader {
  text-align: center;
}
