/*
Add a Background for the whole page
html {
  background: url(/assets/img/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

/* Head */

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

header {
  padding: 1em 0;
}

body {
  color: black;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;

}

h1{
  text-align: center;
  padding-top: 2em;

}
h2{
  margin-left: 4em;
}


p {
  font-family: 'EB Garamond', serif;
  margin: 2em;

}
#masthead {
  background-color: #242424;
  width: 100%;
  position: fixed;
  opacity: 0.7%;
}
#headingI {
  background: url(/assets/img/Smog.jpg) no-repeat center center;
  opacity: 0.5;
  height: 100vh;
  max-width: 100%;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
}
div p {
  margin: 0;
}
#headingII {
  background: url(/assets/img/solution.jpg) no-repeat center center;
  opacity: 0.5;
  height: 100vh;
  max-width: 100%;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
}

.main-nav {
  margin: 0;
  text-align: right;
}

a {
  text-decoration: none;
  color: white;
}

nav li {
  padding-right: 2em;
    list-style: none;
    display: inline;
}

/* SPANS RIGHT HERE */

.firstletter {
  color: #50da45;
  margin: 0;
  padding: 0;
}

#SOLAR {
  background: url(/assets/img/solar.jpg) no-repeat center center;
  opacity: 0.5;
  height: 100vh;
  max-width: 100%;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
}
#WATER {
  background: url(/assets/img/water.jpg) no-repeat center center;
  opacity: 0.5;
  height: 100vh;
  max-width: 100%;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
}
#GREEN {
background: url(/assets/img/bg1.jpg) no-repeat center center;
opacity: 0.5;
height: 100vh;
max-width: 100%;
overflow: hidden;
color: white;
margin: 0;
padding: 0;
border: 0;
}

/* Body */





/* About */
#About {
  background: url(/assets/img/bg3.jpg) no-repeat center center;
  opacity: 0.5;
  height: 100vh;
  max-width: 100%;
  color: white;
  margin: 0;
  padding: 0;
  border: 0;
}
.AboutHeader {
  text-align: center;
}
