/* Head */

body {
  color: black;
  font-family: 'Quicksand', sans-serif;
}

p {
  font-family: 'EB Garamond', serif;
  
}
#masthead {
  background-color: #242424;
}

.main-nav {
  border: 1px solid black;
}

a {

  text-decoration: none;
  color: white;
}

nav li {
    list-style: none;
}

.firstletter {
  color: #50da45;
}



/* Body */





/* About */

.AboutHeader {
  text-align: center;
}
